.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(204, 255, 255);
}

button{
  border-radius: 5px;
  width: 72px;
  height: 36px;
}

.btn-container{
  display: flex;
  margin-bottom: 15px;
  gap: 16px;
}

.submit{
  font-size: 24px;
  margin-bottom: 15px;
  width: 200px;
  height: 56px;
}

.shuffle-btn{
  font-size: 24px;
  margin-bottom: 15px;
  width: 200px;
  height: 56px;
}

.navBtn{
  width: 84px;
  height: 56px;
}

.entryBox{
  border-radius: 5px;
  font-size: 32px;
  margin-bottom: 15px;
  width: 256px;
  height: 56px;
}

h3{
  font-size: 24px;
  margin: 0%;
  margin-bottom: 10px;
}

.flashcard {
  perspective: 1000px;
  width: 720px;
  height: 360px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateX(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;         /* or any color you like */
  border: 2px solid #ccc;   /* optional, for a visible border */
  border-radius: 12px;      /* optional, for rounded corners */
}

.flashcard-back {
  transform: rotateX(180deg);
  background: #fff;
}